 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Quiénes Somos</h2>
                    <hr class="star-light">
                </div>
            </div>         
            <div class="row">             
                <div class="col-lg-4 col-lg-offset-2">
                  <h3>Nubis Bruno</h3>
                    <p>Desarrollador de Software. Tecnólogo. Emprendedor. Agarrido defensor de Bitcoin.</p>
                </div>
            </div> 
             <div class="row">
                <div class="col-lg-4 col-lg-offset-6">
                    <h3>José Luis Ruiz-Navarro</h3>
                    <p>Abogado. Profesor Universitario y colaborador en prense en asuntos jurídicos y económicos</p>
                </div>
            </div>
            <div class="row">             
                <div class="col-lg-4 col-lg-offset-2">
                  <h3>Benjamín Muñoz</h3>
                    <p>Profesor. Administrador de Sistemas GNU/Linux e investigador en InfoSec.</p>
                </div>
            </div> 
        </div>
    </section>
